var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
/data/
etc/
/bin/
sandbox/
openerp_*
openerp-*
odoo-repos/
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
*.pidb
*.userprefs
project-addons/asperience_edi/data_import
project-addons/asperience_edi/data_export
*.db
.mr.developer.cfg
eggs-custom
cookies.data
.vscode/
reserve_without_save_sale
custom_partner_it
sale_margin_percentage
sale_order_board
product_outlet
order_invoice_policy
stock_valuation_by_location
custom_account
sale_product_customize
custom_intrastat
account_move_line_followup
picking_incidences
customer_mood
custom_advanced_payment
block_invoices
sale_proforma_report
sale_promotions_extend
vt_imp_performance
l10n_it_fatturapa_payment_method
product_stock_unsafety
account_bank_statement_import_cbi
automatize_edi_es
stock_custom
l10n_it_mis_reports_pl_bs
product_outlet_loss
sale_point_programme
aspersia_sale_custom
purchase_order_import
cyc_view
pmp_landed_costs
base_business_document_import_stock
sale_display_stock
prospective_customer
customer_area
flask_middleware_connector
aspersia_custom_account
account_treasury_forecast
product_devaluation
custom_financial_risk
rappel_custom
test_management
invoice_update_data
product_minimum_order
mrp_repair_custom
picking_sync_it
scheduled_shipment
location_moves
order_line_check_price
picking_document
custom_emails_company
amazon_connector
kitchen
custom_partner
equivalent_products
vt_flask_middleware
account_treasury_forecast_cashflow_banking
crm_claim_rma_custom
crm_claim_update_line
l10n_es_vat_book_imp
custom_account_it
disable_action_buttons
transportation
account_treasury_forecast_cashflow
stock_deposit
base_io_folder
sale_delivery_type
partner_associated_product
custom_report_link
payment_mode_supplier
product_warranty
purchase_proposal
ubl_edi_from_it
merge_sale_order
crm_rma_advance_location
partner_sale_graphic
prepaid_order_discount
outlook_calendar
external_salesperson_visit
ubl_edi_to_it
sale_customer_discount
crm_claim_rma
product_states
purchase_order_import_ubl
picking_invoice_pending
account_invoice_report_filter_brand
patches
associated_products
crm_claim_phonecall
spain_account_invoice
rma_scanner
purchase_picking
product_discontinued
product_battery
sale_custom
crm_claim_summary_report
shipping_balance
partner_risk_advice
auto_pec_it
cron_stock_catalog
custom_theme
customer_lost
product_weight_net
account_stock_moves
ubl_edi_to_es
product_pricelist_custom
custom_theme_it
separate_purchase_orders
vies_timestamp
product_versions
account_treasury_forecast_banking
automatize_edi_it
edi_edifact
base_synchro
asset_journal
captio_connector
purchase_suggestions
sim_manager
stock_orderpoint_generator_custom
dropship_italia
dropship_italia_it
product_customer_reference
custom_theme_fr
custom_financial_risk_it
web_tree_image_custom
unlink_to_archive
