var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
/data/
etc/
/bin/
sandbox/
openerp_*
openerp-*
odoo-repos/
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
*.pidb
*.userprefs
project-addons/asperience_edi/data_import
project-addons/asperience_edi/data_export
*.db
.mr.developer.cfg
eggs-custom
