@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,300,500,700");

/* FUENTES */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;

}
.o_web_client
.navbar {
    background: #3f3f66; /*navbar*/
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {

    border-color: #efefef;

}
.navbar-inverse {

    background-color: #222222;
    border-color: #efefef; /*borde de abajo de navbar*/

}
.navbar-inverse
.navbar-nav > .active > a,
.navbar-inverse
.navbar-nav > .active > a:hover,
.navbar-inverse
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #31314f; /*color navbar pulsada*/
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content
.oe_secondary_submenu {

    line-height: 2;

}
body.o_web_client {
  background-color: #f8f8f8;
  font-size: 12px;
}
body.o_web_client .navbar li > a {
  padding: 14px 10px 14px 10px;
  margin: 0 0 0 0;
  line-height: unset;
  text-transform: uppercase;
  text-transform: bold;
  color: #a3a3b7; /*texto navbar*/
  font-size: 12px;
}
body.o_web_client .navbar-default {
  background-color: white;
}

body.o_web_client .navbar-default .navbar-nav > .active > a,
body.o_web_client .navbar-default .navbar-nav > .active > a:hover,
body.o_web_client .navbar-default .navbar-nav > .active > a:focus {
  color: #e0e0e6;
  background-color: #e0e0e6;
  font-weight: bold;
}
body.o_web_client .navbar-default .navbar-collapse,
body.o_web_client .navbar-default .navbar-form {
  line-height: 20px;
}

/* SIDE MENU */
.nav-pills > li > a:hover {
  color: #666 !important;
  background-color: transparent !important;
}
.nav-pills > li > a:hover::after {
  content: '❭  ';
  display: block;
  float: right;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #666 !important;
  background-color: #e0e0e0 !important;
  font-weight: bold !important;
}
.nav-pills > li.active > a::after {
  content: '❱  ';
  display: block;
  float: right;
  font-weight: bold;
  font-color: #3f3f66;
  text-indent: 6px;
}
body.o_web_client .o_main .o_sub_menu {
  background-color: white;
  border-right: 1px solid #e7e7e7;
}
body.o_web_client .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
  margin: 10px 0 0 0;
  color: #3f3f66;
  text-transform: uppercase;
  -background-color: #717191; /*color submenu titulos*/
  /*background-color: #efefef;*/
  padding: 4px 6px 4px 18px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a {

    color: #4c4c4c;
    text-indent: 6px;

}

/* TABLES */
.table-bordered {
  border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

/* FILTERS */

.o_searchview
.o_searchview_facet {

    border: 1px solid #e9e9e9;
    background: #e9e9f1;
    border-radius: 5px;

}
.o_searchview
.o_searchview_facet
.o_searchview_facet_label {

    background-color: #7c7bad;
    border-radius: 4px;

}

/* MAIL THREAD */

.o_mail_thread
.o_thread_message
.o_thread_message_core.o_mail_note, .o_mail_activity
.o_thread_message
.o_thread_message_core.o_mail_note {

    background-color: rgba(229, 229, 229, 0.5);
    padding-left: 9.6px;
    border-bottom: 1px solid #d9d7d7;
    border-radius: 8px;

}

/* FICHAS */

.o_form_view .o_form_sheet_bg .o_form_sheet {

    margin: 12px;
    max-width: none;
    width: auto;
    border-radius: 8px;
    border-color: #ffffff;

}

/* TARJETAS KANBAN */
.o_kanban_view.o_kanban_ungrouped
.o_kanban_record {

    -ms-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 300px;
    margin: 4px 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border-color: #ffffff;

}
.o_kanban_view
.oe_kanban_card
.o_kanban_image img, .o_kanban_view
.o_kanban_record
.o_kanban_image img {

    max-width: 100%;
    border-radius: 60px;

}

.o_kanban_view.o_kanban_ungrouped
.o_kanban_record:hover {

    -ms-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 300px;
    margin: 4px 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border-color: #f5f5f5;
    background-color: #f5f5f5;

}

.o_form_view
.o_field_widget
.o_kanban_view.o_kanban_ungrouped
.o_kanban_record {

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

}

.o_form_view
.o_field_widget
.o_kanban_view.o_kanban_ungrouped
.o_kanban_record:hover {

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background: #f5f5f5;
    border-color: #f5f5f5;

}

/*ficha imagen*/
.o_form_view
.oe_avatar > img {

    max-height: 90px;
    max-width: 90px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 60px;

}

.modal-content  {
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px;

}

$bg-color: #fff; //container background-color;
$basic-dark-color: #d3283f; //color of the spinner
$border-width: 4px; //width of spinners border
$basic-spinner-dimensions: 125px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7;

/* ------------------------ ANIMACION LOADING ------------------------------ */

.fa-spin-inv {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;

@-webkit-keyframes fa-spin-inv {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}
@keyframes fa-spin-inv {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

}